---
export const prerender = false;

import Title from "@styles/Title.astro";
import Layout from "@layouts/Layout.astro";
import Section from "@styles/Section.astro";
import Text from "@styles/Text.astro";
import ContactForm from "@components/ContactForm.svelte";
import { getSingleContact } from "@sanity/api";
import { formatPhoneNumber, phoneNumberWithPrefix } from "@utils/format";

const contact = await getSingleContact();

//just for reference - how to handle form in astro
// if (Astro.request.method === "POST") {
//   try {
//     const data = await Astro.request.formData();
//     const response = await fetch("http://localhost:4321/api/mail.json", {
//       method: "POST",
//       body: data,
//     });

//     // Do something with the data
//   } catch (error) {
//     if (error instanceof Error) {
//       console.log("xx");
//     }
//   }
// }
---

<Layout title="Angličtina | Petr Walach">
  <Section class="h-min pb-20 lg:h-full">
    <div class="flex flex-col h-full lg:justify-center">
      <Title class="mb-4">Kontaktuj mě</Title>
      <div class="flex flex-col gap-[2.2rem] lg:flex-row lg:justify-between">
        <div
          class="flex flex-col gap-[1rem] lg:flex-[1_1_40%] lg:ml-6 lg:gap-4 xl:flex-[1_1_50%]"
        >
          <Text><strong>{contact?.fullName}</strong></Text>
          <div class="flex gap-2">
            <Text class="font-bold">Adresa:</Text>
            <Text>{contact?.address}</Text>
          </div>
          <div class="flex gap-2">
            <Text class="font-bold">E-mail:</Text>
            <a href=`mailto:${contact?.email}`>
              <Text>{contact?.email}</Text>
            </a>
          </div>
          <div class="flex gap-2">
            <Text class="font-bold">Telefon:</Text>
            <a href={`tel:${phoneNumberWithPrefix(contact?.phone)}`}>
              <Text>{formatPhoneNumber(contact?.phone)}</Text>
            </a>
          </div>
          <div class="flex gap-2">
            <Text class="font-bold">IČ:</Text>
            <Text>{contact?.identificationNumber}</Text>
          </div>
          <div class="flex gap-2">
            <Text class="font-bold">DIČ:</Text>
            <Text>{contact?.taxIdentificationNumber}</Text>
          </div>
        </div>
        <ContactForm client:load />
      </div>
    </div>
  </Section>
</Layout>
